* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, rgb(32, 1, 34), rgb(111, 0, 0));
  height: 100vh;
  width: 100vw;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#time {
  display: flex;
  width: 80vw;
  margin: 90px auto;
}
#timeHour,
#timeMin,
#timeSec,
#month,
#year,
#day,
#am-pm {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
  font-size: 1.7rem;
}

.effect {
  transform: scale(1.1) rotateX(360deg);
  transition: transform 1s linear;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header i.far.fa-clock {
  margin-right: 20px;
}

/* media queries for Ipad */
@media all and (max-width: 769px) {
  #timeHour,
  #timeMin,
  #timeSec,
  #month,
  #year,
  #day,
  #am-pm {
    width: 50%;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
